<a href="https://colab.research.google.com/github/Yeyeong99/Aiffel/blob/main/%EC%96%91%EC%9E%AC_4%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### LMS

In [ ]:
total = 0
count = 0


while True:
  num = input()
  if num == "":
    break
  else:
    try:
      total += int(num)
      count += 1
    except ValueError: 
      #Value error 일 때도 count += 1이 실행됨.. 
      # => count를 total보다 위에 써서 count 가 먼저 실행되고 total이 실행됨 
      # 그 시점에서 except가 걸리기 때문에 count는 올라가고 total은 실행되지 않음!
      print("숫자를 입력해주세요")
print("average: ", total/count)
print(total, count)

2
3
5

숫자를 입력해주세요

average:  3.3333333333333335
10 3

In [ ]:
n = list(map(int, input().split()))
n.sort()
if len(n) % 2 == 1:
  md_index = len(n) // 2
  md = n[md_index]
else:
  md = (n[len(n)/2] + n[len(n)/2 + 1]) / 2

print(md)

1 2 3
2

### 코딩도장

In [ ]:
def get(*args):
  return args
type(get(1,2,3))

tuple

In [ ]:
def fib(n):
    if n <= 1:
        return n
    elif n == 2:
        return 1
    else:
        return fib(n-2) + fib(n-1)
fib(20)

6765

In [ ]:
files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xslx', 'spec.docx']
print(list(filter(lambda i: i.endswith('jpg') or i.endswith('png'), files)))

['1.png', '10.jpg', '2.jpg', '3.png']

In [ ]:
files = input().split()
# 문자열 포매팅 사용 안함
print(list(map(lambda x: '0'*(3-len(x.split('.')[0]))+str(x.split('.')[0])+'.'+x.split('.')[1] , files)))
# 문자열 포매팅 사용
print(list (map(lambda x : '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files) ))

1.jpg 10.png 11.png 2.jpg 3.png
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']
['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [ ]:
x = [1,2,3]
list(map(lambda x: x+1, x))

[2, 3, 4]

[코드업](https://codeup.kr/status.php?user_id=helloworld1)

In [ ]:
n = int(input())
result = 0
i = 1
while True:
  result += i
  if result >= n:
    print(result)
    break

  i += 1

1
1

In [ ]:
int('-232')

-232

In [ ]:
def strToInt(string):
    result = 0

    for idx, number in enumerate(string[::-1]):
        if number == '-':
            result *= -1
        else:
            result += int(number) * (10 ** idx)

    return result


# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(strToInt("-1234"));

4321-
-1234

[프로그래머스1](https://programmers.co.kr/learn/courses/30/lessons/12919)

[프로그래머스2](https://programmers.co.kr/learn/courses/30/lessons/12903)

In [ ]:
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [ ]:
def solution(s):
    return s[len(s)//2] if len(s) % 2 == 1 else s[len(s)//2-1:len(s)//2+1]

In [ ]:
a = [1,2,3]
list(filter(lambda x: x%2,a))

[1, 3]